{% extends "base.html" %}
{% block content %} 
    <div class="container mt-4">
<div class="card">
       
    <div class="card-header">
        <h3 class="card-title">{{ post['title'] }}</h3>
        <div class="text-muted">
            작성자:{{ post.author }}  | 
            작성일: {{ post.created_at }} | 
            조회수: {{ post.visit }}
        </div>
    </div>
    <div class="card-body">
        <div class="mb-4">
            {{ post.content.replace('\n','<br>' | safe) }}
        </div>
        <div class="mb-3">
            <strong>첨부파일:</strong>
            <a href="{{url_for ('add_post', filename=post.filename)}}" class="btn btn-sm btn-outline-secondary">
                <i class="fas fa-download"></i> 02.jpg
            </a>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <div>
                <a href="/" class="btn btn-secondary">
                    <i class="fas fa-list"></i> 목록
                </a>
            </div>
            <div>
                <a href="{{url_for ('edit_post', id=post.id)}}" class="btn btn-primary">
                    <i class="fas fa-edit"></i> 수정
                </a>
                <a href="{{url_for ('delete_post', id=post.id)}}" 
                   class="btn btn-danger"
                   onclick="return confirm('정말로 삭제하시겠습니까?');">
                    <i class="fas fa-trash"></i> 삭제
                </a>
            </div>
        </div>
    </div>
</div>
    </div>

    {% endblock %}