{% extends "base.html" %}
{% block content %} 
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const alertMessage = "{{ get_flashed_messages(category_filter=['error'])[0] if get_flashed_messages(category_filter=['error']) else '' }}";

        if (alertMessage) {
            alert(alertMessage); // 로그인 실패 시 알림 표시
        }
    });
</script>
    <div class="container mt-4" style="text-align:center;">
     
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">로그인</h2>
        <form method="POST" action="{{url_for ('login')}}">
            <div class="mb-3">
                <label for="userid" class="form-label">사용자 이름</label>
                <input type="text" class="form-control" id="userid" name="userid" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <!--div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                <label class="form-check-label" for="rememberMe">로그인 상태 유지</label>
            </div-->
            <button type="submit" class="btn btn-primary w-100">로그인</button>
        </form>
        <div class="text-center mt-3">
            <a href="{{url_for ('register')}}">계정이 없으신가요? 등록하기</a>
        </div>
    </div>
</div>

    </div>
    {% endblock %}